@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

.site-name {
  font-size: 3rem;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  width: 30%;
  margin: auto;
}

.input-container, .submit-button {
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
}

#create-acc-button, #signin-button {
  font-family: inherit;
  width: 15%;
  margin: auto;
  font-size: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 1em;
}

#wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  width: 100%;
}

#mychats-container {
  width: 35%;
}

#chatbox-container {
  width: 65%;
}

#chats-container > ul {
  list-style: none;
}

#chat-box {
  min-height: 30em;
  background-color: lightgray;
}

#name {
  font-size: 1.2rem;
}

#my-chats-text {
  font-size: 1.5rem;
}

#join-room-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 1em;
}

#dropdown, #join-room-button {  
  width: 50%;
  font-family: inherit;
  font-size: 1rem;
}

#select, label {
  font-size: 2rem;
}